<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="scheme" value="http"/>
    <add key="host" value="62.245.84.186"/>
    <add key="localhost" value="192.168.83.213"/>
    <add key="port" value="8889"/>
    <add key="path" value="elevation"/>
    <add key="google_elevation_api" value="AIzaSyBXNtwvKHCj4d-fkOr4rqhYloJRwISgR7g"/>
    <add key="db_host" value="localhost"/>
    <add key="db_username" value="postgres"/>
    <add key="db_password" value="root"/>
    <add key="db_database" value="test"/>
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
